<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://app-tasks-api-dev.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/d46f0de1-bff2-4dc3-9af4-6f00d64c3e04/resourceGroups/rg-zsu-eastus-dev-001/providers/Microsoft.ContainerRegistry/registries/TasksApi</ContainerResourceId>
    <ContainerResourceName>TasksApi</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>tasksapi.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/d46f0de1-bff2-4dc3-9af4-6f00d64c3e04/resourceGroups/rg-zsu-eastus-dev-001/providers/Microsoft.ApiManagement/service/TasksApi-api/apis/TasksApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d46f0de1-bff2-4dc3-9af4-6f00d64c3e04/resourcegroups/rg-zsu-eastus-dev-001/providers/Microsoft.Web/sites/app-tasks-api-dev</ResourceId>
    <ResourceGroup>rg-zsu-eastus-dev-001</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://app-tasks-api-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>63a17ae0-1eaa-439f-a916-fe112bb13988</ProjectGuid>
  </PropertyGroup>
</Project>